In [3]:
import pandas as pd

In [17]:
from firebase_admin import credentials,firestore
import firebase_admin
cred = credentials.Certificate("credentials.json")
firebase_admin.initialize_app(cred)
db = firestore.client()

In [11]:
data = pd.read_csv("items.csv")
data

               item  Price
0            Coffee     15
1          Egg dosa     45
2       Idly (3pcs)     25
3        Karam dosa     35
4              Milk     15
..              ...    ...
76  Samosas (2 pcs)     30
77      Veg Noodles     40
78        Veg Pizza    110
79         Veg Puff     20
80         Veg Roll     20

[81 rows x 2 columns]

In [20]:
data['item'].values.tolist().index("Coffee")

0

In [21]:
food = db.collection("FOOD").get()
for i in food:
    menu = db.collection("FOOD").document(i.id).collection("Menu").get()
    for j in menu:
       db.collection("FOOD").document(i.id).collection("Menu").document(j.id).set({"price":data['Price'].values.tolist()[data['item'].values.tolist().index(j.id)]},merge=True)

:

dict_keys(['name'])